.dropzone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	padding: 10px;
	background: #011638;
	/* background-image: url("/images/json.jpg"); */
	/* background-size: cover; */
	/* background-position: bottom; */
}

.excel-dropzone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	padding: 30px;
	background: #025538;
	/* background-image: url("/images/excel.jpg"); */
	/* background-position: bottom; */
	/* background-size: 220px; */
}

button.file-btn {
	margin-top: 40px;
	font-weight: bold;
	color: white;
	width: 500px;
	padding: 12px;
	font-size: medium;
	background: transparent;
	border: 2px dashed rgb(200, 195, 195);
}

.excel{
	font-size: 20px;
	color: #04e762;
}
.text {
	color: white;
	font-family: cursive;
}

.or {
	margin: 10px 0;
}
