* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

/* header */
li,
.link,
button.header-btn {
	font-weight: 400;
	font-size: 15px;
	color: black;
	/* color: #edf0f1; */
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 10%;
	background-color: #edf0f1;
	margin-bottom: 15px;
	box-shadow: 0 15px 35px rgba(50, 50, 91, 0.1), 0 5px 15px rgba(0, 0, 0, 0.7);
	border-radius: 8px;
}

.logo {
	cursor: pointer;
	margin-right: auto;
	font-size: 30px;
}

.logo:hover {
	color: #f4a259;
}

.X {
	color: green;
	margin-left: 3px;
	font-weight: bold;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li .link {
	transition: all 0.3s ease 0s;
}

.nav__links li .link:hover {
	color: #f4a259;
}

button.header-btn {
	margin-left: 25px;
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button.header-btn:hover {
	background-color: rgba(0, 136, 169, 0.6);
	color: #f4a259;
}

/* header */

/* workspace */

.workspace {
	display: flex;
	justify-content: space-around;
	width: 100%;
	/* max-height: 500px; */
}

.d-json {
	border-radius: 8px;
}

.json-hint {
	font-size: 13px;
}

.json-copy {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.btn-copy {
	width: 80px;
	height: 35px;
	position: relative;
	top: 50px;
	right: -40px;
	border: 1px solid transparent;
	background-color: transparent;
	color: #fff;
	opacity: 0;
}

.object-key-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.wrapper .object-key {
	height: 33px;
	width: 60%;
	padding-left: 40px;
	border: 1px solid #025538;
	border-radius: 50px;
}

.generate-btn {
	width: 80px;
	height: 30px;
	border-radius: 50px;
	background-color: #ccc;
	color: black;
	border: 1px solid transparent;
}

.generate-btn:hover {
	background-color: #025538;
	color: #fff;
}
/* workspace */

.checkboxes-container {
	padding: 20px;
}
/* thoooose */

/* .name-update label{
	font-size: 12px;
}
.name-update input[type="checkbox"] {
	width: 15px;
	height: 15px;
} */
/* thoooose */

.wrapper {
	background-color: #fff;
	margin: 10px 15px;
	width: 45%;
	padding: 10px;
	box-shadow: 0 15px 35px rgba(50, 50, 91, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
}

.wrapper:hover .btn-copy {
	opacity: 1;
}

.json-btns {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.json-btns button,
input[type="button"] {
	color: black;
	background-color: #fff;
	padding: 6px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.error {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	color: red;
	font-weight: bold;
}

.cc_flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-reply {
	height: 100%;
	width: 100%;
	color: rgb(39, 39, 116);
}

.btn-x {
	margin-left: 5px;
	height: 18px;
	width: 18px;
	background: transparent;
	border: transparent;
	cursor: pointer;
}

.hide {
	display: none;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

/* home */

.home section {
	height: 75vh;
}

@counter-style dimond {
	system: cyclic;
	symbols: ✦;
	suffix: " ";
}
ul.binifits {
	list-style-type: dimond;
}
.nav-ul {
	list-style: none;
}
.api-img-container {
	width: 360px;
	height: 300px;
}
.api-img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.api-text{
	font-size: 12px;
	text-align: justify;
}
